/target
/.classpath
/.project
/.settings
/.idea
/.vscode
/out
# Secrets file containing API keys - use SECRETS.java.template as reference
/src/main/java/com/uniqueapps/navixbrowser/object/SECRETS.java
/desktop.ini
/navixbrowser.iml
/jpackage-config-linux.txt
/jpackage-config-win.txt
/*.exe
/*.deb
/*.rpm
/testing