/target
/.classpath
/.project
/.settings
/.idea
/.vscode
/out
/src/main/java/com/uniqueapps/navixbrowser/object/SECRETS.java
/desktop.ini
/Navix-2.0.0.exe
/navixbrowser.iml
/jpackage-config-linux.txt
/jpackage-config-win.txt
/*.deb
/*.rpm
/testing